.outer-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative;
}

.bgVideo{
  background-size: 100% 100%;
  width: 100vw;
  height: 80vh;
  position: fixed;
  right: 0;
}

.title{
  text-shadow: 2px 2px #000000;
  position: relative;
  /* top: 5%; */
}
.title2{
  text-shadow: 2px 2px #000000;
  position: relative;
  top: 10%;
}
.title3{
  position: relative;
}
.title4{
  position: relative;
  justify-content: center; 
  align-items: center;
}

.title5{
  position: relative;
  justify-content: center; 
  align-items: center;
color: white;
font-size:small;
}

